

.divtopback
{
background-color: #194a6b;
}


.goldLine
{
border-bottom: 1px solid #f0c018;
padding-left:10px;
width:100%;
}



.rbox
{
padding: 3px;
background: linear-gradient(to bottom, #ffffff 55%, #d9d9d9 100%);
border-bottom-left-radius:1em;
border-bottom-right-radius:1em;	 
border-top-left-radius:1em;
border-top-right-radius:1em;	
border: 2px solid #f0c018;
margin-top:8px;
}



.ftb
{
font-weight:bold;
}
.ftr {
background: #427BAA;
font-weight:bold;
color:white;
clear:both; 
}


.ftrAlignLft {
    background: #427BAA;
    color: white;
    width: 25%;
    display: inline-block;
    vertical-align: top;
    text-align: left;
}



.ftrAlignRgt {
    background: #427BAA;
    color: white;
    width: 23%;
    display: inline-block;
    vertical-align: top;
    text-align: right;
}


.ftrCenterBot
{
text-align:center;
color: black;
font-size:10px; 
font-style:normal; 
clear:both; 
}


.ftrAlignCntr {
    background: #427BAA;
    width: 49%;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    font-size: 13px;
}




.horiztlist
{

}




.horiztlist > li
{
display:inline-block; 
margin:5px; 
}




.ilb
{
display: inline-block;
margin-left:5px;
}


.pgheading
{
color:white;
margin-left:10px;
text-shadow:-1px -1px 0px #000, 1px -1px 0px #000, -1px 1px 0px #000, 1px 1px 0px #000;
}


.spacedlst > li
{
margin-bottom:15px;
}


#lcBut
{
 color: blue;
    margin: 10px 8px 20px 0px;
    padding: 5px 7px;
    display: inline;
    background-image: linear-gradient(to bottom, #fff556, #fead00);
    text-align: center;
    width: auto;
    border: 0;
    box-shadow: none;
    border-radius: 5px;
    }



.colsngl
{ 
margin-top:10px;
width:98%;
min-width:250px;
vertical-align:top;
display: block;
margin-left:15px;
}


.coldbl
{ 
display: inline-block;
width:45%;
margin-top:10px;
margin-left:15px;
min-width:250px;
vertical-align:top;
}




.coltrpl
{ 
display: inline-block;
width: 30%;
margin-top:10px;
margin-left:15px;
min-width:250px;
vertical-align:top;
}



.colquad
{ 
display: inline-block;
width: 24%;
margin-top:10px;
margin-left:15px;
min-width:250px;
vertical-align:top;
}




.boldlst
{

}
.boldlst > li
{
font-weight:bold;
font-size:1.15em;
}
.boldlst > li > p
{
padding-top: 0px;
margin-bottom:5px;
margin-left:25px;
font-size:1em;
font-weight:normal;
}


.boldlst > li > p:nth-child(1)
{
padding-top: 10px;
}






.tblset
{
margin-left:10px;
width:98%;
}
.tblset >tbody > tr
{
}


.tblset >tbody > tr > th
{
padding-left:10px;
padding-right:10px;
background: lightgray;
border-bottom-left-radius:1em;
border-bottom-right-radius:1em;	 
border-top-left-radius:1em;
border-top-right-radius:1em;
}


.tblset >tbody > tr > td
{
padding-left:10px;
}




