

h3.accordion-header.bio-header {
    background-color: #f5f5f5;
    border: 1px solid #ececec;
    padding: .5rem;
    font-size: 1rem;
	margin: 0 1em;
    text-transform: none;
}


h4.bio-header{
    background-color: #f5f5f5;
    border: 1px solid #ececec;
    padding: .5rem;
    font-size: 1rem;
	margin: 0 1em;
    text-transform: none;
}


h3.accordion-header.small-accordion {
background-color: #f5f5f5;
    border: 1px solid #ececec;
    color: #333333;
    padding: .5rem 1em;
    font-size: 1rem;
    margin:0 0 .5em;
    text-transform: none;
}


.accordion-content {padding: 1em;}



.one-half > div.two-col {
    margin-left: 1em !important;
    margin-right: 1em !important;
}



.faq-spacer {
	margin-top: -.5em !important;
	margin-bottom: 1em !important;
}


/*** Boards and Commissions ***/
.frm_inline_form .inline-correction {
margin-top: 14px;}
table.boards tbody tr:nth-child(odd) {
    background: rgba(245,245,245,1);
}


table.boards tbody tr td{
    padding: 10px 0 10px 5px;
	line-height: 1.5em;
}


table.boards thead th:first-child {
    width: 60%;
	padding-right: 4em;
}


table.boards-roster thead {
    border-bottom:1px solid #777777;
}


table.boards-roster tbody tr:nth-child(odd) {
    background: rgba(245,245,245,1);
}


table.boards-roster td{ 
    font-size: .875em;
    max-width: 14em;
    padding: 6px 10px;
    line-height: 1.2em;
}


table.boards-roster td span.position{ 
    font-size: 85%;
}


.fact-sheet ul li {
    list-style: none;
    font-size: 120%;
}



table.locations-table {
    border: 1px solid rgba(231,211,126,1.00);
    border-collapse: collapse;
    border-spacing: 0;
}


col.locations-table-col-odd {
    background-color: rgba(246,238,203,1.00);
}


col.locations-table-col-even {
    background-color: rgba(255,255,255,1.00);
}


table.locations-table th {
    background-color: rgb(228, 205, 108);
    color: rgb(51, 51, 51);
    min-width: 13em;
    padding: 0 10px;
    text-align: left;
    text-shadow: 1px 1px 1px rgb(221, 221, 221);
}


.locations-table tbody {
    border-bottom: none;
}


.locations-table tbody td {
    color: #333;
    padding: 10px;
    border-top: none;
    border-bottom: none;
    line-height: 1.5em;
	vertical-align: top;
}


.cabinet-bios h3.bio-header{    
	margin: 0 2em 4em;
	text-align: center;
}


.cabinet-bios p.member {font-size: .675rem; text-align: center; margin-bottom:0;}


.cabinet-bios p.member .commissioner {
    font-weight: bold;
    font-size: .875rem;
}




.cabinet-bios .accordion-content {
    padding: 1em;
    position: absolute;
    max-width: 930px;
    background: white;
    box-shadow: 0px 0px 0px 1200px rgba(0,0,0,.3 );
	right: 10%;
    margin: -60px auto !important;
    left: 10%;
}


.cabinet-bios .accordion-content.col-two {
    left: -20px;
}


.cabinet-bios .accordion-content.col-three {
    left: -120px;
}


.cabinet-bios .accordion-content.col-four {
    left: -220px;
}


.event-schedule {
  border-top: 5px solid #302724;
  background-color: rgba(245,245,245,1);
}


.event-schedule h3 {
  text-align: center;
  margin: 1em 0;
  font-size: 1.25em;
}


.event-schedule h2 {
  font-size: 1.15em;
  padding: 0;
  margin: 0;
}


ol.sessions {
  border-top: 1px solid #8b8380;
  margin: 0;
}


ol.sessions li.single-session {
  padding: 1em;
  list-style-type: none;
  margin: 0;
}


ol.sessions li.single-session:nth-child(even) {
  background-color: #ffffff;
}


ol.sessions li.single-session time {
  display: inline-block;
  width: 24%;
  font-weight: bold;
  font-style: italic;
  vertical-align: top;
}


ol.sessions li.single-session .event-description
 {
  display: inline-block;
  width: 75%;
}


span.speaker-img-link {
  float: left;
  margin: 0 1em 1em 0;
}


p.byline {
  color: brown;
  font-weight: bold;
}


.contact-number {
    color: #333;
    font-size: 1.5em !important;
    text-align: center;
    font-weight: bold;
}


.phone-number {
    font-weight: normal;
}



ul.cr_icons li:nth-child(even) {
    background: #e5e5e5;
    }


.cr_icons a{    
	background: url("http://gov.alaska.gov/Walker_media/constituent_relations/cr-sprite2.png") no-repeat scroll;
	color: #4e4c4c;
    display: block;
    height: 70px;
    padding: 20px 0px 0px 80px;
	font-weight: bold;
}
.cr_icons a:hover{    
	color: #4e4c4c;
}




.metaslider.caption-right .caption-wrap {
    width: 36% !important;
    margin: 5% 4%;
    left: initial;
    right: 0;
    padding: 20px 14px;
    line-height: 1.6em;
}


.metaslider.caption-left .caption-wrap {
    width: 36% !important;
    margin: 5% 4%;
    opacity: .9;
    padding: 20px 14px;
    line-height: 1.6em;
}


.metaslider.white .caption-wrap{
	background-color: #ffffff;
	color: #000000;
    opacity: .9;
}


div.elections-region {
    background: #f5f5f5;
    border: 1px solid #ddd;
	display: inline-block; 
    padding: 20px 20px 0 ;
    margin: 0 0 32px 0;
	width: 100%;
}


<!-- Footer Style Sheet Classes -->
.ftr { clear:both; }
.ftr ul
{ 
padding:0px; 
list-style:none;
}




.ftrc 
{ 
display:inline-block;
vertical-align:text-top;
width:32%;
margin:4px; 
}


.ftctr 
{
 text-align:center;
}


.ftrgt 
{ 
text-align:right;
}


.hlst li
{ 
display:inline-block;
margin:5px; 
font-size:10px;
font-style:normal; 
}


.ftb 
{
font-weight:bold;
}




