

/* Statewide Standard CSS */

article
{
display: block;
}


aside
{
display: block;
}


details
{
display: block;
}


figcaption
{
display: block;
}


figure
{
display: block;
}


footer
{
display: block;
}


header
{
display: block;
}


hgroup
{
display: block;
}


main
{
display: block;
}


nav
{
display: block;
}


section
{
display: block;
}


summary 
{
display: block;
}




body 
{
margin: 0;
background-color: #f2f2f2;
background-image: url(https://webcontent.alaska.gov/style/soa/20170315/images/2016-website-bg-option3b.jpg);
color: #222;
font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
font-size: 1em;
line-height: 1.6;
background-size: 100%;
background-repeat: no-repeat;
background-position: 0 -40px;
}





*, input[type="search"] 
{
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
box-sizing: border-box;
}



audio
{
display: inline-block;
}


canvas
{
display: inline-block;
}


video 
{
display: inline-block;
}




[hidden]
{display:none;}


audio:not([controls])
{
display: none;
height: 0;
}


html 
{
font-size: 1em;
font-family: sans-serif;
-ms-text-size-adjust: 100%;
-webkit-text-size-adjust: 100%;
}


a:active, a:hover 
{
outline: 0;
}


a:focus 
{
outline: thin dotted;
}



h1 
{
margin: .67em 0;
}


abbr[title]
{
	border-bottom: 1px dotted;
}


b, strong 
{
font-weight: bold;
}

b
{
font-weight: bold;
}



strong 
{
font-weight: bold;
}





dfn
{
font-style: italic
}


hr 
{
-moz-box-sizing: content-box;
box-sizing: content-box;
height: 0;
}


mark 
{
background: #ff0;
color: #000;
}



code
{
font-family: monospace, serif;
font-size: 1em;
}


kbd
{
font-family: monospace, serif;
font-size: 1em;
}


pre
{
font-family: monospace, serif;
font-size: 1em;
}


samp 
 {
font-family: monospace, serif;
font-size: 1em;
}




pre 
{
white-space: pre-wrap;
}


q 
{
quotes: "\201C" "\201D" "\2018" "\2019";
}




small 
{
font-size: 80%;
}


sup 
{
top: -0.5em;
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}


sub 
{
bottom: -0.25em;
font-size: 75%;
line-height: 0;
position: relative;
vertical-align: baseline;
}


textarea 
{
overflow: auto;
vertical-align: top;
}


table 
{
border-collapse: collapse;
border-spacing: 0;
}


input[type="search"] 
{
-webkit-appearance: textfield;
-moz-box-sizing: content-box;
-webkit-box-sizing: content-box;
box-sizing: content-box;
}



input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration 
{
-webkit-appearance:none;
}









input[type="checkbox"]
{
box-sizing: border-box;
padding: 0;
}


input[type="radio"]
{
box-sizing: border-box;
padding: 0;
}





button::-moz-focus-inner
{
border:0;
padding:0;
}


 input::-moz-focus-inner
{
border:0;
padding:0;
}




img 
{
border: 0;
}


svg:not(:root) 
{
overflow: hidden;
}


figure 
{
margin: 0;
}


fieldset 
{
border: 1px solid silver;
margin: 0 2px;
padding: .35em .625em .75em;
}


legend 
{
border: 0;
padding: 0;
}





button
{
font-family: inherit;
font-size: 100%;
margin: 0;
line-height: normal;
text-transform: none;
}



input
{
font-family: inherit;
font-size: 100%;
margin: 0;
line-height: normal;
}



select
{
font-family: inherit;
font-size: 100%;
margin: 0;
text-transform: none;
}



textarea
{
font-family: inherit;
font-size: 100%;
margin: 0;
}






button
{
-webkit-appearance: button;
cursor: pointer;
}


html input[type="button"]
{
-webkit-appearance: button;
cursor: pointer;
}


 input[type="reset"]
{
-webkit-appearance: button;
cursor: pointer;
}


input[type="submit"] 
{
-webkit-appearance: button;
cursor: pointer;
}




button[disabled], html input[disabled] 
{
cursor: default;
}
button[disabled]
{
cursor: default;
}


html input[disabled] 
{
cursor: default;
}





input[type="checkbox"]

{
box-sizing: border-box;
padding: 0;
}


input[type="radio"] 
{
box-sizing: border-box;
padding: 0;
}





input[type="search"]::-webkit-search-cancel-button

{
-webkit-appearance:none;
}


input[type="search"]::-webkit-search-decoration 

{
-webkit-appearance:none;
}






input::-moz-focus-inner 
{
border:0;
padding:0;
}


button::-moz-focus-inner
{
border:0;
padding:0;
}






/* State Look and Feel standard CSS
This document is a draft Cascading Style Sheet for the State of Alaska. 
It is intended to provide styling to meet state standards and 
responsive design using HTML 5 and CSS 3 techniques.
*/
/* Table of Contents

	- HTML5 Reset
		- Baseline Normalize
		- Box Sizing
		- Float Clearing
	(AS OF 10/13/2015 THESE ELEMENTS HAVE NOT BEEN SET STATEWIDE)	
	- Defaults
		- Typographical Elements (Body is set)
		- Headings
		- Objects
		- Gallery
		- Forms
		- Tables
	- Structure and Layout
		- Site Containers
		- Column Widths and Positions
		- Column Classes
	- Common Classes
		- WordPress
		- Genesis
		- Titles
	- Widgets
		- Featured Content
	- Plugins
		- Genesis eNews Extended
		- Genesis Latest Tweets
		- Genesis Responsive Slider
		- Jetpack
	- Site Header
		- Title Area
		- Widget Area
	- Site Navigation
		- Header Navigation
		- Primary Navigation
		- Secondary Navigation
		- Responsive Menu
	- Content Area
		- Home Page
		- Portfolio
		- Entries
		- After Entry
		- Pagination
		- Comments
	- Sidebars
	- Footer Widgets
	- Site Footer
	- Theme Colors
		- Alaska Governor Brown
		- Alaska Governor Green
		- Alaska Governor Orange
		- Alaska Governor Purple
		- Alaska Governor Red
		- Alaska Governor Teal
	- Media Queries
		- Retina Display
		- max-width: 1200px
		- max-width: 1023px
		- max-width: 767px
		- max-width: 500px
		- max-width: 270px
		
*/

.global-nav-menu 
{
margin-bottom: 32px;
background: #072f49;
border-top: 3px solid #edbd03;
}

.global-nav-menu a 
{
color: #FFFFFF;
padding: 0 .63em;
letter-spacing: 1px;
font-weight: normal;
}


.global-nav-menu > ul 
{
font-size: .75em;
line-height: 1em;
margin: 0;
padding: 5px 0 6px;
text-align: right;
max-width: 960px;
width: 100%;
vertical-align: bottom;
}



.global-nav-menu > ul> li, #SOAmainLink 
{
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}


.global-nav-menu a:hover 
{
text-decoration: underline;
}




#SOAmainLink 
{
font-style: italic;
text-shadow: .5em .25em .5em #ffe037, -.5em -.25em .5em #ffe037;
}
#SOAmainLink > span 
{
display: none;
}



.global-nav-menu > ul > li 
{
display: inline-block;
overflow: hidden;
padding: 20px 2px 0;
}


.global-nav-menu > ul> li:first-child 
{
display: block;
*display: inline;  /* IE7 and below */
margin: 0;
text-align: left;
padding: 0;
position: absolute;
 *position: static; /* IE7 and below */
width: 11.75em;
}



.global-nav-menu > ul > li:first-child a 
{
background-image: url(https://webcontent.alaska.gov/style/soa/20170315/images/2016-soa-logo.png);
background-repeat: no-repeat;
background-position: 0 0;
background-size: 138px 33px;
display: inline-block;
text-indent: -999999px;
width: inherit;
padding: 12px 0;
}


.global-nav-menu > ul> li:last-child 
{
display: none;
}





header.template
{
background-image: url("/img/bg.jpg");
background-position: 20% 6%;
padding: .5em 1em;
}


h2#agencyTitle 
{
font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
color: #333333;
float: left;
text-align: center;
text-transform: uppercase;
}


h2#agencyTitle a 
{
color: #333333;
}



header #agencyLogo img 
{
width: 70%;
height: auto;
}


.headerPre, .headerPrimary, .headerPost 
{
display: block;
font-weight: normal;
text-align: left;
padding: .15em 0;
}



header .headerPre 
{
text-indent: -99999em;
position: absolute;
}


.headerPrimary 
{
font-size: 1.6em;
padding: .09375em 0;
}







#searchMain input 
{
padding: 0.5em;
}




#searchMain input#searchTextField 
{
width: 65%;
}


button#searchButton 
{
border: 1px solid #7F7F7F;
width: 25%;
padding: 5px 5px 6px;
font-size: 100%;
margin: 10px 0;
}


button#searchButton:hover 
{
background-color: #CCC4BB;
cursor: pointer;
}







footer#soa-footer
{
background: none;
}



#soa-footer 
{
margin: 0 .5em;
}


.soa-links, .soa-links ul, .soa-links a 
{
color: #ffffff;
}



.soa-links a 
{
text-decoration: none;
}


.soa-links a:hover 
{
text-decoration: underline;
}









@media screen and (max-width: 8em) 
{
	#search input 
	{
	line-height: .813em;
	}
	#SOAmainLink 
	{
	padding: 0;
	background: none;
	text-align: center;
	}
}


@media screen and (min-width: 12em) 
{
	.global-nav-menu > ul 
	{
	margin: 0 auto 0;
	text-align: right;
	}
	
	.global-nav-menu > ul > li 
	{
	overflow: hidden;
	display: none;
	}
	
	.global-nav-menu > ul> li:last-child 
	{
	display: inline-block;
	}
	
	#SOAmainLink > span 
	{
	display: inline;
	}
	
	.skipToStatewideLinks 
	{
	height: 2em;
	padding: 0.3em;
	display: block;
	}
}


@media screen and (min-width: 12.4em) 
{
}

@media screen and (min-width: 17.2em) 
{
}

@media screen and (min-width: 22.8em) 
{
}





@media only screen and (min-width: 36em) 
{
	.global-nav-menu > ul { text-align: right;}
	
	.global-nav-menu > ul> li 
	{
	overflow: hidden;
	display: inline-block;
	}	
	
	.global-nav-menu > ul> li:first-child 
	{
	display: block;
	position: absolute;
	width: 11.75em;
	text-align: left;
	vertical-align: baseline;
	}
	
	.global-nav-menu > ul> li:last-child 
	{
	display: none;
	}
	
	h2#agencyTitle 
	{
	text-align: inherit;
	}
	
	header #agencyLogo img 
	{
	width: inherit;
	}

	form#searchMain 
	{
	float: right;
	width: 18em;
	position: relative;
	}

	#searchMain input#searchTextField 
	{
	padding: .5em;
	width: 70%;
	}
	
	.searchFormExpanded 
	{
	clear: left;
	}

	#deptlabel, #statelabel 
	{
	font-size: 80%;
	padding: 5px 0 0;
	font-weight: bold;
	text-align: right;
	}
}



@media screen and (min-width: 48em) 
{
}

@media screen and (min-width: 54em) 
{
}



@media print 
{
	/* Global CSS */
	body
	 {
	text-align: left;
	background: #ffffff;
	color: #000000;
	}
	
	p, form, div, object, ul, ol, li, img, h1, h2, h3, h4, h5, h6, blockquote, table, tr, td, tbody, small 
	{
	padding: 0;
	}
	
	#soaBranding 
	{
	display: none;
	}
	
	#main-navigation 
	{
	display: none;
	}
	
	#title img.screen 
	{
	display: none;
	}

	#title img.print 
	{
	display: block;
	padding: 0;
	width: auto;
	}
	
	#search 
	{
	display: none;
	}
	
	#state_footer 
	{
	display: none;
	}
}







/* Float Clearing--------------------------------------------- */




.site-header:before
{
content: " ";
display: table;
}



.clearfix:before
{
content: " ";
display: table;
}


.entry:before
{
content: " ";
display: table;
}


.footer-widgets:before

{
content: " ";
display: table;
}


.nav-primary:before
{
content: " ";
display: table;
}


.pagination:before
{
content: " ";
display: table;
}


.site-container:before
{
content: " ";
display: table;
}


.site-footer:before
{
content: " ";
display: table;
}


.site-header:before
{
content: " ";
display: table;
}


.site-inner:before
content: " ";
display: table;
}


.widget:before
{
content: " ";
display: table;
}


.wrap:before 
{
content: " ";
display: table;
}




.clearfix:after, .entry-content:after, .entry:after, .footer-widgets:after, .nav-primary:after, .nav-secondary:after, .pagination:after, .site-container:after, .site-footer:after, .site-header:after, .site-inner:after, .widget:after, .wrap:after 
{
clear: both;
content: " ";
display: table;
}

.clearfix:after
{
clear: both;
content: " ";
display: table;
}


.entry-content:after
{
clear: both;
content: " ";
display: table;
}


.entry:after
{
clear: both;
content: " ";
display: table;
}


.footer-widgets:after
{
clear: both;
content: " ";
display: table;
}


.nav-primary:after
{
clear: both;
content: " ";
display: table;
}


.nav-secondary:after
{
clear: both;
content: " ";
display: table;
}


.pagination:after
{
clear: both;
content: " ";
display: table;
}


.site-container:after
{
clear: both;
content: " ";
display: table;
}



.site-footer:after
{
clear: both;
content: " ";
display: table;
}



.site-header:after
clear: both;
content: " ";
display: table;
}



.site-inner:after
{
clear: both;
content: " ";
display: table;
}



.widget:after
{
clear: both;
content: " ";
display: table;
}



 .wrap:after 
{
clear: both;
content: " ";
display: table;
}







/* Typographical Elements --------------------------------------------- */




.entry-content:before
{
content: " ";
display: table;
}







#soa_navigation ul
{
text-align: right;
position: relitive;
}
#soa_navigation 
{
-moz-box-sizing: content-box;
}


#soa_navigation ul
{
text-align: right;
position: relitive;
}




#container 
{
max-width: 60em;
width: 100%;
margin: 0 auto;
}




